QPushButton:hover {
	color:orange;
	background:black;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(255,0,0,75%);
	font: bold italic large "Times New Roman";
	font-style: italic;

}

QPushButton:!hover {
	color:black;
}

QWidget{
    background:grey;
    margin-width: 2px;

}